@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 min-h-screen font-sans text-slate-900 antialiased;
    background-color: #EBEBEB;
    transition: background-color 200ms ease;
  }

  html.stuck body {
    background-color: #FFFFFF;
  }

  #app {
    @apply min-h-screen;
  }
}
